

.containner{
    padding-top: 100px;

}
body {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Ropa Sans, sans-serif;
    justify-content: center;
    align-items: center;
    background: #000;
    
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 20px;
    font-family: Prompt, sans-serif;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
#head{
    text-align: center;
    text-transform: uppercase;
    color: #7FFF00;
}
.result{
    text-align: center;
    text-transform: uppercase;
    color: #7FFF00;
}
#inputnumber{
    width: 450px;
    height: 50px;
    border: none;
    outline: none;
    color: #ffc000;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 20px;
    font-family: Prompt, sans-serif;
    padding-left: 30px;
}
.navbar {
    position: sticky;
    top: 0;
    display:flex;
    overflow:hidden;
    justify-content: center;
    height: 100px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background:#8CA6DB;
    color: black;
    border-radius:5px;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;   
    transform: perspective(-10px);
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none; 
  }
  
  .subnav-content a:hover {
    background:#B993D6;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
  }
  
  #label{
    color: #fff;
  }

  .percent{
    width: 30%;
    height: 50px;
    border: none;
    outline: none;
    color: #ffc000;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 20px;
    font-family: Prompt, sans-serif;
    padding-left: 30px;
  }

.row{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
}

.findvalue{
  margin: 7%;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 50px;
}

.findpercent{
  padding: 50px;
  margin: 7%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

*/}

img{
  width: 50px;
  height: 50px;
}